
/* --------------------------------------------------------------------------------- */

/* SOBRE NÓS*/

#about {
    width: 100%;
    background-color: whitesmoke;
    padding-bottom: 70px;
}

/* --------------------------------------------------------------------------------- */

.title-about {
    font-size: 68px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 70px;
    color: #333;
}

#text-about {
    font-size: 16px;
    padding: 0;
    margin: 70px 0px 0px 0px;
    letter-spacing: 3px;
    color: #333;
}

/* --------------------------------------------------------------------------------- */

.leftTitle, .leftText {
    text-align: end;
}

.rightTitle, .rightText {
    text-align: start;
}

.rightTitle, .leftTitle  {
    font-weight: bold;
    margin: 50px 0px 0px 0px;
}

.rightText, .leftText {
    letter-spacing: 1px;
    font-size: 16px;
    font-style: italic;
    margin: 0px 0px 50px 0px;
}

/* --------------------------------------------------------------------------------- */