/* --------------------------------------------------------------------------------- */

/* GERAL */ 

#season {

    background-color: whitesmoke;

}

/* --------------------------------------------------------------------------------- */

/* TEXTOS */ 

.title-season {

    color: #333;

    font-size: 68px;
    text-align: center;
    font-weight: bold;

    margin: 0;

}

#paragraph-season {

    font-size: 22px;
    text-align: center;

    margin: 65px 0px 0px 0px;
    padding: 0;

}

#text-season {

    color: #333;

    font-size: 16px;
    letter-spacing: 3px;

    margin: 70px 0px 0px 0px;
    padding: 0;

}

#targets {

    margin-top: 70px;
    padding-bottom: 70px;

}

/* --------------------------------------------------------------------------------- */