/* Serviços */

#sevices {
    background-color: white;
}

#text-services {
    font-size: 16px;
    padding: 0;
    margin: 70px 0px 0px 0px;
    letter-spacing: 3px;
    color: #333;
}

.title-services {
    font-size: 68px;
    text-align: center;
    font-weight: bold;
    color: #333;
    margin: 0;
}

#paragraph-services {
    font-size: 24px;
    padding: 0;
    margin: 65px 0px 0px 0px;
    text-align: center;
}

/* --------------------------------------------------------------------------------- */

/* TÍTULO CARTA */

.card-title {
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/* CONTAIER CARTA */

.card {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

/* CARTA CORPO */

.card-body {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 53, 38);
    border: 1px solid rgba(51, 51, 51, 0.22);   
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.80);
}

/* CARTA TEXTO */

.card-text {
    color: white;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    margin-top: 80px;
}

/* CARTA TEXTO */

.services-area img {
    width: 100px;
    height: 100px;
    margin-top: 70px;
}

/* TÍTULOS */

#preVestibular {
    color: rgb(53, 164, 255);
}

#preTecnico {
    color: rgb(73, 255, 128);
}

#concursos {
    color: rgb(255, 224, 51);
}

#btn2 {
    color: rgb(255, 53, 38);
    background-color: transparent;
    outline: 1px solid rgb(255, 53, 38);
    outline-offset: 2px;
    border: none;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-bottom: 70px;
}

#btn2:hover {
    border-radius: 50px;
    transition: 1s;
    color: white;
    background-color: #333;
    outline: none;
    outline-offset: none;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.699);
}

/* --------------------------------------------------------------------------------- */

/* FLIPS */

.flip-container, .flip-container2, .flip-container3 {
    width: 33%;
    height: 300px;
    margin: 50px 0px 50px 0px;
}

.flipper, .flipper2, .flipper3{
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
    transition: transform 2s;
    position: relative;
    cursor: pointer;
}

.flip-container:hover .flipper{
	transform: rotateY(180deg);
}

.flip-container2:hover .flipper2{
	transform: rotateY(180deg);
}

.flip-container3:hover .flipper3{
	transform: rotateY(180deg);
}

.front, .back{
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
}

.back{
	transform: rotateY(180deg);
}

#switch, #switch2, #switch3 {
	display: none;
}

/* --------------------------------------------------------------------------------- */