
/* --------------------------------------------------------------------------------- */

/* PÁGINA */

#about {

    background-color: rgb(26, 23, 29, 0.10);

    width: 100%;

    padding-bottom: 70px;

}

/* --------------------------------------------------------------------------------- */