.title-about {

    font-size: 68px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #333;
}

#text-about {
    font-size: 16px;
    padding: 0;
    margin: 70px 0px 0px 0px;
    letter-spacing: 3px;
    color: #333;
}

#about {
    width: 100%;
    background-color: whitesmoke;;
}