@keyframes rotation {

    0% {

        transform: rotate(0deg);
        box-shadow: 0px 0px 5px rgba(0, 0, 0);

    }

    20% {

        transform: rotate(-20deg);
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.90);

    }

    40% {

        transform: rotate(20deg);
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.60);

    }
  
    60% {

        transform: rotate(40deg);
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.90);

    }

    80% {

        transform: rotate(-20deg);
        box-shadow: 0px 0px 5px rgba(0, 0, 0);

    }

    100% {

        transform: rotate(0deg);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.70);

      }
}

@keyframes rotate {

  0% {

    transform: rotate(0deg);

  }

  20% {

    transform: rotate(-5deg);
      
  }

  40% {

    transform: rotate(5deg);
      
  }


  60% {

    transform: rotate(5deg);
      
  }

  80% {

    transform: rotate(-5deg);
  }

  100% {

    transform: rotate(0deg);
      
    }

}