@keyframes rotation {

  0% {

    transform: rotate(0deg);

  }

   25% {

    transform: rotate(-15deg);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.90);

   }

  50% {

    transform: rotate(0deg);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.60);

  }
  
  75% {

    transform: rotate(15deg);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.90);

  }

  100% {

    transform: rotate(0deg);

  }

}

@keyframes rotate {

  0% {

    transform: rotate(0deg);

  }

  20% {

    transform: rotate(-5deg);
      
  }

  40% {

    transform: rotate(5deg);
      
  }


  60% {

    transform: rotate(5deg);
      
  }

  80% {

    transform: rotate(-5deg);
  }

  100% {

    transform: rotate(0deg);
      
    }

}

@keyframes shadow {

  0% {

    box-shadow: 0px 0px 0px rgba(0, 0, 0);
    transform: translateX(0) scale(1);
  }

   25% {

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.90);
    transform: translateX(0) scale(1.05);
   }

  50% {

    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.60);
    transform: translateX(0) scale(1.1);
  }
  
  75% {
    
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.90);
    transform: translateX(0) scale(1.05);

  }

  100% {
    
    box-shadow: 0px 0px 0px rgba(0, 0, 0);
    transform: translateX(0) scale(1);
  }

}

@keyframes rotate2 {

  0% {
    
    transform: rotate(0deg);

  }

   20% {

    transform: rotate(1deg);

   }

  40% {
    
    transform: rotate(-1deg);

  }
  
  60% {
    
    transform: rotate(1deg);
    
  }

  80% {
    
    transform: rotate(-1deg);
    
  }

  100% {
    
    transform: rotate(0deg);
    
  }

}

@keyframes zoom {

  0% {
    
    transform: scale(1);

  }

   20% {

    transform: scale(1.01);

   }

  40% {
    
    transform: scale(1.02);

  }
  
  60% {
    
    transform: scale(1.02);
    
  }

  80% {
    
    transform: scale(1.01);
    
  }

  100% {
    
    transform: scale(1);
    
  }

}