/* --------------------------------------------------------------------------------- */

/* CABEÇALHO */

#text-contact {

    color: #333;

    font-size: 16px;
    letter-spacing: 3px;

    padding: 0;
    margin: 70px 0px 70px 0px;
    
}

/* --------------------------------------------------------------------------------- */

/* CARRDS */

/* Box Cards */

.card-group {

    background-color: white;

    margin: 0px;
    padding: 70px 0px 70px 0px;

    justify-content: space-around;
    align-items: center;

}

/* Container card */

.container-card {

    text-align: start;

    border-radius: 20px;

}

/* Card corpo */

.card-body {

    border-radius: 20px 20px 0px 0px;

}

/* Card geral */

.card {

    width: 390px;
    height: auto;
    
    border-radius: 20px;

}

.card:hover {

    animation: shadow 3s linear infinite;
    
}

/* Texts */

.card-title {

    font-size: 24px;
    font-weight: bold;

    margin-top: 25px;

}

.card-text {

    font-size: 16px;
    font-style: normal;
    letter-spacing: 2px;

}

.text-card {

    margin: 0px 25px 0px 25px;

    padding: 5px;

}

.legenda {

    font-size: 12px;

}

/* --------------------------------------------------------------------------------- */

/* Título wpp */

#wpp {

    color: rgb(35, 214, 80);

}

/* Card Whatsapp */

#card-wpp {

    box-shadow: 0px -10px 0px rgb(35, 214, 80);

}

/* --------------------------------------------------------------------------------- */

/* Card Gmail */

/* Título card */

#gmail {

    color: rgb(255, 53, 38);

}

/* Corpo card */

#card-gmail {

    box-shadow: 0px -10px 0px rgb(255, 53, 38);

}

/* --------------------------------------------------------------------------------- */

/* Card Telefone */

/* Título card */

#telefone {

    color: #444;

}

/* Corpo card */

#card-telefone {

    margin-bottom: 0px;

    box-shadow: 0px -10px 0px #444;

}

/* --------------------------------------------------------------------------------- */

/* Box botão */

.card-box-btn {

    text-align: center;

    align-items: center;

    margin: auto auto;

}

/* Botão */

.btnContact {
    
    background-color: white;
    color: rgb(88, 127, 255);

    font-weight: bold;

    width: 250px;
    height: 50px;

    margin: 50px 0px 25px 0px;

    border: none;
    border: 1px solid rgba(131, 160, 255, 0.75);
    border-radius: 40px;
    outline: none;

}

.btnContact:focus {

    transition: 0s;

    box-shadow: 0px 0px 10px black;

    border: none;
    border: 1px solid rgba(131, 160, 255, 0.75);
    outline: none;

}


/* Botão Wpp */

#btnWpp {

    transition: 1s;

}

#btnWpp:hover {

    background-color: rgb(35, 214, 80);
    color: white;

    border: none;

}

/* Botão Gmail */

#btnGmail {

    transition: 1s;

}

#btnGmail:hover {

    background-color: rgb(255, 53, 38);
    color: white;

    border: none;

}

/* Botão Telefone */

#btnTel {

    transition: 1s;
    
}

#btnTel:hover {

    background-color: #444;
    color: white;

    border: none;

}

/* --------------------------------------------------------------------------------- */