/* --------------------------------------------------------------------------------- */

/* FOOTER CORPO */

.page-footer {

    background-color: rgb(26, 23, 29);

}

/* --------------------------------------------------------------------------------- */

/* TEXTOS */

#textFooter {

    color: white;

}

#copyFooter {

    color: white;

    padding: 10px 0px 50px 0px;

    pointer-events: none;

}

.linkFooter {

    color:rgb(255, 53, 38);

    transition: .3s;

}

.linkFooter:hover {

    color: rgb(255, 187, 0);

    text-decoration: none;

}

.linkFooter:focus {

    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
    padding: 3px;

}

/* --------------------------------------------------------------------------------- */

/* SOCIAL */

.social {

    text-decoration: none;

}

#fb, #ig, #tt {

    color: white;

    font-size: 26px;
    text-decoration: none;

    border-radius: 50%;

    margin: 0px 3px 0px 3px;
    padding: 2px;

    cursor: pointer;

    transition: .5s;

}

#fb:hover {

    color: rgb(29, 52, 255);

    text-decoration: none;

} 

#ig:hover {

    color: rgb(255, 0, 55);

} 

#tt:hover {

    color: rgb(0, 132, 255);

} 

#social {

    margin: 0;

    padding: 10px;

}

#social a:focus {

    text-decoration: none;

    padding: 10px 0px 3px 0px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px white;
    
}

#social a:hover {

    text-decoration: none;
    
}

/* --------------------------------------------------------------------------------- */