/* Navbar */
header {
    width: 100vw;
    height: auto;
    margin-bottom: 76.5px;
}

nav {
    width: 100vw;
    height: auto;
}

.navbar-brand:hover {
    cursor: pointer;
}

.navbar-nav {
    margin: 0px 10px 0px 0px;
}

.nav-link {
    cursor: pointer;
    margin: 0px 20px 0px 0px;
    transition: .8s;
    padding: 15px;
    color: orange;
}

#home, #projetos, #equipe, #blog, #missao {
    font-size: 16px;
    color: white;
}

.nav-link:hover {
    outline: 1px solid red;
    outline-offset: 1px;
    border-radius: 15px;
    color: red;
}