/* --------------------------------------------------------------------------------- */

/* NAVBAR */

header {

    width: 100vw;
    height: auto;

    margin-bottom: 76.5px;

}

nav {

    width: 100vw;
    height: auto;

    background-color: rgb(26, 23, 29);

}

/* --------------------------------------------------------------------------------- */

/* LOGO */

#imgLogo {

    margin: 0px 10px 0px 10px;

}

#text-logo {

    color: aliceblue;

}

/* --------------------------------------------------------------------------------- */

/* LINKS */

.navbar-nav {

    background-color: #444;

    border-radius: 10px;

    margin: 0px 10px 0px 0px;


}

.nav-link {

    border-radius: 10px;

    margin: 0px 20px 0px 20px;
    padding: 15px;

    cursor: pointer;
    transition: .8s;

}

#home, #projetos, #equipe, #blog, #missao {

    color: white;

    font-size: 16px;

}

.nav-link:hover {

    background-color: rgb(255, 53, 38);

    border-radius: 10px;

}

.navbar-nav:hover {

    transition: 1s;

}

/* --------------------------------------------------------------------------------- */