/* --------------------------------------------------------------------------------- */

/* NAVBAR */

header {

    width: 100vw;
    height: auto;

    margin: 0px 0px 70px 0px;

    transition: 1s;

}

nav {

    background-color: rgb(26, 23, 29, 0.20);
    backdrop-filter: blur(4px);

    width: 100vw;
    height: auto;

    transition: 1s;
}

nav:hover {

    background-color: rgb(26, 23, 29);

}

/* --------------------------------------------------------------------------------- */

/* LOGO */

#imgLogo {

    margin: 0px 10px 0px 10px;
    
    border-radius: 50%;

}

.navbar .navbar-brand:focus {

    padding: 3px 10px 3px 0px;
    box-shadow: 0px 0px 5px white;

}

#text-logo {

    color: white;

    text-decoration: none;

}

#text-logo-link {
    
    text-decoration: none;

}

#text-logo-link:focus {
    
    border: 1px solid white;

}

.navbar-brand {

    transition: 2s;

}

.bar {

    background-color: transparent;

    border: none;
    outline: none;
   
}

#icon {

    font-size: 52px;

}

.box {

    justify-content: center;

}

/* --------------------------------------------------------------------------------- */

/* LINKS */

.navbar-nav {

    border-radius: 10px;

    margin: 0px 10px 0px 0px;

}

.nav-link {

    border-radius: 10px;

    margin: 0px 20px 0px 20px;
    padding: 15px;

    cursor: pointer;
    transition: .8s;

}

.nav-link:focus {

    box-shadow: 0px 0px 5px white;
    border-radius: 10px;

}

.navbar-collapse {

    transition: 2s;

}

#home, #projetos, #equipe, #blog, #missao {

    color: white;

    font-size: 16px;
    font-weight: bold;

}

.nav-link:hover {

    background-color: rgb(255, 53, 38);

    border-radius: 10px;

}

.navbar-nav:hover {

    transition: 1s;

}

/* --------------------------------------------------------------------------------- */