/* --------------------------------------------------------------------------------- */

/* TEXT PAGE */ 

#text-season-projetos {

    color: #333;

    font-size: 16px;
    letter-spacing: 3px;

    padding: 0;
    margin: 70px 0px 70px 0px;
    
}

/* --------------------------------------------------------------------------------- */

/* LINHAS GRID */ 

.seasonLeft {

    padding: 50px 0px 50px 0px;

}

#seasonRight {

    background-color: rgb(26, 23, 29, 0.10);

    padding: 50px 0px 50px 0px;

}

/* --------------------------------------------------------------------------------- */

/* IMAGENS */ 

.imgProjetc {

    width: 500px;
    height: 400px;

    border-radius: 8px;

    cursor: pointer;

    transition: 1s;

}

.imgProjetc:hover {

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.70);

    animation: rotate 6s linear infinite;

}

/* --------------------------------------------------------------------------------- */