/* Sessão */ 

.title-season {
    font-size: 68px;
    text-align: center;
    font-weight: bold;
    color: rgb(59, 127, 252);
    margin: 0;
    margin-top: 50px;
}

#text-season {
    font-size: 24px;
    padding: 0;
    margin: 50px 0px 0px 0px;
    text-align: center;
}

#targets {
    margin-top: 50px;
}

.box {
    justify-content: center;
    align-items: center;
    display: flex;
}

#line-season {
    width: 120px;
    height: 8px;
    background-color: #333;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 30px 0px 0px 0px;
}