/* --------------------------------------------------------------------------------- */

/* GERAL */ 

#season {

    background-color: rgb(26, 23, 29, 0.10);

}

/* --------------------------------------------------------------------------------- */

/* TEXTOS */ 

#text-season {

    color: #333;

    font-size: 16px;
    letter-spacing: 3px;

    margin: 70px 0px 0px 0px;
    padding: 0;

    pointer-events: none;

}

#targets {

    margin-top: 70px;
    padding-bottom: 70px;

}

/* --------------------------------------------------------------------------------- */