/* --------------------------------------------------------------------------------- */

/* GERAL */ 

* {

    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

body {

    font-family: 'Roboto', sans-serif;

    width: 100vw;
    height: 100vh;

}

.container {

    padding: auto;
    margin: auto;

}

.row {

    text-align: center;
    align-items: center;

    padding: 0;

}

.col {

    margin: 0px;
    padding-top: 0px;

}

h1 {

    color: #333;

    font-size: 72px;
    text-align: start;
    font-weight: bold;

}

p {

    text-decoration: none;

}

span {

    color:rgb(255, 53, 38);
    
}

hr {

    background-color: #444;

}

a {
    
    box-shadow: none;

    border: none;
    outline: none;

    text-decoration: none;

}

.oculto {

    display: none;

}

/* --------------------------------------------------------------------------------- */

/* Efeito de brilho */

.brightness {
    --posX: 0px;
    --posY: 0px;
    --color: rgba(255, 255, 255, 0.15);
}
  
.brightness::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: radial-gradient(
    circle at var(--posX) var(--posY),
    var(--color),
    rgba(255, 255, 255, 0)
  );
}
  
.brightness .nav-link, .navbar-brand, #text-logo  {
  position: relative;
  pointer-events:all;
}

/* --------------------------------------------------------------------------------- */